.wrapper {
    text-align: center;
}

.header {
    display: inline-flex;
}

.logo {
    max-width: 5rem;
}

.pad {
    padding: 1rem;
}

.center {
    right: auto!important;
    left: 50%!important;
    transform: translate(-50%, 13%)!important;
}

#formContainer{
    width:40%;
    margin:auto;
  }
  #formC{
    width:100%;
  }
  .rows{
    width:100%;
    display:block;
  
  }
  .column{
      width:100%;
      display:inline-block;
      
  }
  .theLabels{
    
    width:30%
    float:left;
  }
  .theInputs{
    
  
    width:60%;
    float:right;
  }